<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <img src="https://i.pinimg.com/originals/56/fb/d1/56fbd1610da03038328481e999b22bd4.png" alt="HTML tutorial" style="width:200px;height:200px;border-radius:100%;margin-left: 110px; margin-left: 650px;">     

    <div class = "container">
        <div class="user_card">
            <div style="margin-left: 20px; margin-left: 50px;"> <p  style="color:black ;size: 85px;padding-left: 160px;">Thankyou  for shopping with gift store , your order will be delivered within 3 days</p> </div>

        </div>
    </div>
  

  
</body>
</html>



